body {
  font-family: Arial, sans-serif;
}
.step.active {
  border-color: #f0a500;
}
.content-section.active {
  display: block;
}





  .container {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 10px;
}

.buttons_parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.position_relative {
  position: relative;
}

.step-button {
  box-shadow: 0px 0px 0 0 #e0a922 inset;
  transition: box-shadow 0.3s;
}

.line {
  height: 2px;
  background: #e0a922;
  flex-grow: 1;
  position: relative;
}

.line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--line-before-width);
  background: #e0a922;
}

.overflow-hidden {
  overflow: hidden;
}

.myRow {
  display: flex;
}
